---
import LocalisedMessage from "../../../../components/i18n/LocalisedMessage.astro";
import ScriptViewerLayout from "../../../../layouts/ScriptViewerLayout.astro";
import {
  createTranslator,
  type LocaleIds,
  ENABLED_LOCALES,
} from "../../../../lib/i18n";
import { getPathWithoutLocale } from "../../../../lib/url";
import { LOCAL_SCRIPT_COLLECTIONS } from "../../../../scripts";

export function getStaticPaths() {
  return ENABLED_LOCALES.flatMap((locale) =>
    Object.entries(LOCAL_SCRIPT_COLLECTIONS).flatMap(
      ([collectionId, collection]) =>
        collection.scripts.map((script) => ({
          params: {
            collectionId: collectionId as keyof typeof LOCAL_SCRIPT_COLLECTIONS,
            scriptId: script.id,
            locale: locale.isDefault ? undefined : locale.astroId,
          },
        })),
    ),
  );
}

const { collectionId, scriptId } = Astro.params;

if (!(collectionId in LOCAL_SCRIPT_COLLECTIONS)) {
  return Astro.rewrite("/404");
}

const collection = LOCAL_SCRIPT_COLLECTIONS[collectionId];

const scriptDefinition = collection.scripts.find(
  (script) => script.id === scriptId,
);
if (!scriptDefinition) {
  return Astro.rewrite("/404");
}

const locale = (Astro.currentLocale ?? "en") as LocaleIds;
const getScript =
  scriptDefinition.localeOverrides?.[locale] ?? scriptDefinition.getScript;
const rawScript = await getScript();

const t = await createTranslator({ locale });
---

<ScriptViewerLayout
  t={t}
  rawScript={rawScript}
  basePath={getPathWithoutLocale(
    Astro.routePattern,
    Astro.currentLocale,
    Astro.url.pathname,
  )}
  overrideJsonPathSegment={`${scriptDefinition.id}.json`}
>
  <div class="screen-only before-script" slot="before-script">
    <LocalisedMessage
      t={t}
      key="viewer.collection.partOfCollection"
      params={{
        link: "..",
        collection: t.string(`viewer.collection.${collectionId}.title`).value,
      }}
    />
  </div>
</ScriptViewerLayout>

<style>
  @media screen {
    .before-script {
      margin: 2rem 1rem;

      @media (min-width: 900px) {
        margin: 2rem;
      }
    }
  }
</style>
