---
import { LOCALE_MAP, type LocaleIds, type LocaleInfo } from "../../lib/i18n";
import type { Translator } from "../../lib/i18n/types";
import LocalisedMessage from "../i18n/LocalisedMessage.astro";

interface Props {
  t: Translator;
  isScreenOnly?: boolean;
}

const { t, isScreenOnly } = Astro.props;

const localeInfo: LocaleInfo | undefined = LOCALE_MAP[t.locale as LocaleIds];
---

<footer class:list={["footer", isScreenOnly && "screen-only"]}>
  <p>
    <LocalisedMessage t={t} key="viewer.footer.notAffiliated" />
    <LocalisedMessage t={t} key="viewer.footer.descriptionsNotice" />
  </p>
  <p>
    <LocalisedMessage
      t={t}
      key="viewer.footer.madeBy"
      params={{
        author: "Stuart Thomson",
        externalLink: "https://sthom.kiwi",
        externalLinkEvent: "sthom-link",
      }}
    />
    {
      localeInfo && localeInfo.translators.length > 0 && (
        <LocalisedMessage
          t={t}
          key="viewer.footer.translatedBy"
          params={{
            authors: new Intl.ListFormat(
              LOCALE_MAP[t.locale as LocaleIds]?.standardId ?? t.locale,
            ).format(localeInfo.translators),
          }}
        />
      )
    }
    <LocalisedMessage
      t={t}
      key="viewer.footer.sourceCode"
      params={{
        externalLink: "https://github.com/s-thom/botc-script-viewer",
        externalLinkEvent: "github-link",
      }}
    />
  </p>
  {
    localeInfo && localeInfo.hasCommunityTranslations && (
      <p>
        {localeInfo.hasCommunityTranslations && (
          <LocalisedMessage
            t={t}
            key="viewer.footer.translatedByCommunity"
            params={{
              externalLink:
                "https://docs.google.com/spreadsheets/u/0/d/1aAJdqSTafHnw01w-WZ94UPx1Me70Kz-EG1NFfBht2tA/htmlview#gid=923580658",
              externalLinkEvent: "translate-spreadsheet-link",
            }}
          />
        )}
      </p>
    )
  }
  {
    localeInfo && localeInfo.hasMachineTranslations && (
      <p>
        {localeInfo.hasMachineTranslations && (
          <LocalisedMessage
            t={t}
            key="viewer.footer.translatedByMachine"
            params={{
              externalLink:
                "https://github.com/s-thom/botc-script-viewer/issues",
              externalLinkEvent: "translate-github-issues-link",
            }}
          />
        )}
      </p>
    )
  }
</footer>

<style>
  .footer {
    opacity: 0.7;
    font-size: 0.9rem;
    margin-block-start: 2rem;
  }
</style>
