---
import type { ScriptCharacter } from "../../generated/script-schema";
import type { MessageSegment } from "../../lib/i18n";
import FormattedDescription from "../display/FormattedDescription.astro";

export interface Props {
  segments: MessageSegment[];
  character?: ScriptCharacter;
}

const { segments, character } = Astro.props;
---

{
  segments.map(function mapSingleSegment(segment): unknown {
    switch (segment.type) {
      case "text":
        return (
          <FormattedDescription content={segment.value} character={character} />
        );
      case "tag": {
        switch (segment.name) {
          case "externalLink": {
            let href = segment.params["externalLink"] as string;
            if (!href) {
              console.warn(
                `Missing externalLink parameter for {externalLink} tag`,
              );
              href = "/";
            }

            return (
              <a
                href={href}
                target="_blank"
                rel="external noreferrer"
                data-umami-event={segment.params["externalLink"]}
              >
                {segment.children.map((child) => mapSingleSegment(child))}
              </a>
            );
          }
          default:
            console.warn(`Unknown tag type: ${segment.name}`);
            return segment.children.map((child) => mapSingleSegment(child));
        }
      }
      default:
        console.warn(
          `Unknown segment type: ${(segment as MessageSegment).type}`,
        );
    }
  })
}

<style></style>
