---
import { getRelativeLocaleUrl } from "astro:i18n";
import CharacterIcon from "../components/display/CharacterIcon.astro";
import LocalisedMessage from "../components/i18n/LocalisedMessage.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { CHARACTERS_BY_ID } from "../lib/characters";
import {
  createTranslator,
  type LocaleIds,
  type TranslateParams,
} from "../lib/i18n";
import { AppError } from "../types/site";

export const prerender = false;

interface Props {
  error: unknown;
}

const { error } = Astro.props;

let status = 500;
let titleKey = "viewer.errors.genericError";
let descriptionKey = "viewer.errors.genericErrorDescription";
let descriptionParams: TranslateParams | undefined;

if (error instanceof Error) {
  console.error(error);

  if (error instanceof AppError) {
    titleKey = error.titleKey ?? titleKey;
    descriptionKey = error.descriptionKey ?? descriptionKey;
    descriptionParams = error.descriptionParams;
  }
}

Astro.response.status = status;

const locale = (Astro.currentLocale as LocaleIds) ?? "en";
const t = await createTranslator({ locale });
---

<CenteredLayout
  t={t}
  meta={{
    title: t.string("viewer.head.title", {
      title: t.string(titleKey).value,
      nameShort: t.string("viewer.common.nameShort").value,
    }).value,
    lang: locale,
  }}
>
  <Fragment slot="head">
    <meta name="robots" content="noindex" />
  </Fragment>

  <h1><LocalisedMessage t={t} key={titleKey} /></h1>

  <CharacterIcon
    character={CHARACTERS_BY_ID.get(status === 404 ? "witch" : "goblin")!}
    size={144}
    class="slow-spin"
    loading="eager"
  />
  <p>
    <LocalisedMessage t={t} key={descriptionKey} params={descriptionParams} />
  </p>
  <p>
    <a href={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "")}
      ><LocalisedMessage t={t} key="viewer.errors.backToHome" /></a
    >
  </p>
</CenteredLayout>
