---
import CollectionsMenu from "../components/home/CollectionsMenu.astro";
import ScriptForm from "../components/home/ScriptForm.astro";
import PageView from "../components/misc/PageView.astro";
import Footer from "../components/misc/Footer.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import UploadForm from "../components/home/UploadForm.astro";
import { createTranslator, type LocaleIds } from "../lib/i18n";
import LocalisedMessage from "../components/i18n/LocalisedMessage.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = (Astro.currentLocale as LocaleIds) ?? "en";
const t = createTranslator({ locale });
---

<CenteredLayout
  t={t}
  meta={{ title: t.string("viewer.common.nameLong").value, lang: locale }}
>
  <Fragment slot="head">
    <PageView />
  </Fragment>

  <div class="content">
    <p>
      <LocalisedMessage
        t={t}
        key="viewer.home.description"
        params={{ externalLink: "https://bloodontheclocktower.com/" }}
      />
      <LocalisedMessage
        t={t}
        key="viewer.home.about"
        params={{ link: getRelativeLocaleUrl(locale, "/about") }}
      />
    </p>

    <div class="grid">
      <ScriptForm t={t} />
      <UploadForm t={t} />
    </div>

    <CollectionsMenu t={t} />
  </div>

  <Footer t={t} />
</CenteredLayout>

<style>
  .content {
    width: 100%;

    & > :global(*):not(:first-child) {
      margin-block-start: 2em;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
