---
import ScriptList from "../../../components/home/ScriptList.astro";
import LocalisedMessage from "../../../components/i18n/LocalisedMessage.astro";
import Footer from "../../../components/misc/Footer.astro";
import PageView from "../../../components/misc/PageView.astro";
import CenteredLayout from "../../../layouts/CenteredLayout.astro";
import { createTranslator, ENABLED_LOCALES } from "../../../lib/i18n";
import { getPathWithoutLocale } from "../../../lib/url";
import { LOCAL_SCRIPT_COLLECTIONS } from "../../../scripts";

export function getStaticPaths() {
  return ENABLED_LOCALES.filter((locale) => !locale.isDefault).flatMap(
    (locale) =>
      Object.keys(LOCAL_SCRIPT_COLLECTIONS).map((collectionId) => ({
        params: {
          collectionId: collectionId as keyof typeof LOCAL_SCRIPT_COLLECTIONS,
          locale: locale.astroId,
        },
      })),
  );
}

const { collectionId } = Astro.params;

if (!(collectionId in LOCAL_SCRIPT_COLLECTIONS)) {
  return Astro.rewrite("/404");
}

const collection = LOCAL_SCRIPT_COLLECTIONS[collectionId];

const t = createTranslator({ locale: Astro.currentLocale ?? "en" });
---

<CenteredLayout
  t={t}
  meta={{
    title: t.string("viewer.head.title", {
      title: t.string("viewer.collection.title", {
        title: t.string(`viewer.collection.${collectionId}.title`).value,
      }).value,
      nameShort: t.string("viewer.common.nameShort").value,
    }).value,
    basePath: getPathWithoutLocale(Astro.routePattern, Astro.url.pathname),
    description: t.string(`viewer.collection.${collectionId}.description`)
      .value,
  }}
>
  <Fragment slot="head">
    <PageView />
  </Fragment>

  <div class="content">
    <h2>
      <LocalisedMessage
        t={t}
        key="viewer.collection.title"
        params={{
          title: t.string(`viewer.collection.${collectionId}.title`).value,
        }}
      />
    </h2>
    <p>
      <LocalisedMessage
        t={t}
        key={`viewer.collection.${collectionId}.description`}
      />
    </p>
    <ScriptList collectionId={collectionId} scripts={collection.scripts} />
  </div>
  <Footer t={t} />
</CenteredLayout>

<style>
  .content {
    width: 100%;

    & > :global(*):not(:first-child) {
      margin-block-start: 2em;
    }
  }
</style>
