---
import type { Translator } from "../../lib/i18n";
import { LOCAL_SCRIPT_COLLECTIONS } from "../../scripts";
import LocalisedMessage from "../i18n/LocalisedMessage.astro";
import ScriptList from "./ScriptList.astro";

interface Props {
  t: Translator;
}

const { t } = Astro.props;
---

<div class="box">
  <h2>
    <LocalisedMessage t={t} key="viewer.collection.officialScripts" />
  </h2>

  {
    Object.entries(LOCAL_SCRIPT_COLLECTIONS)
      .filter(
        ([, collection]) =>
          collection.isOfficial && collection.showOnHome !== false,
      )
      .map(([collectionId, collection]) => (
        <section>
          <h3>
            <LocalisedMessage
              t={t}
              key={`viewer.collection.${collectionId}.title`}
            />
          </h3>
          <ScriptList
            collectionId={collectionId}
            scripts={collection.scripts}
            loading="lazy"
          />
        </section>
      ))
  }

  <h2>
    <LocalisedMessage t={t} key="viewer.collection.unofficialCollections" />
  </h2>
  {
    Object.entries(LOCAL_SCRIPT_COLLECTIONS)
      .filter(
        ([, collection]) =>
          !collection.isOfficial && collection.showOnHome !== false,
      )
      .map(([collectionId, collection]) => (
        <section>
          <h3>
            <LocalisedMessage
              t={t}
              key={`viewer.collection.${collectionId}.title`}
            />
          </h3>
          <ScriptList
            collectionId={collectionId}
            scripts={collection.scripts}
            loading="lazy"
          />
        </section>
      ))
  }
</div>

<style>
  .box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
</style>
