---
import { getAlmanacLink } from "../../lib/characters";
import type { Translator } from "../../lib/i18n/types";
import type { NormalisedScriptCharacter } from "../../types/botc";
import CharacterListItem from "./CharacterListItem.astro";

export interface Props {
  t: Translator;
  characters: NormalisedScriptCharacter[];
  class?: string;
  showWikiLink?: boolean;
}

const { t, characters, class: className, showWikiLink } = Astro.props;
---

<ul class:list={["character-list", className]}>
  {
    characters.map((character) => (
      <li class={"character-list-item"} id={character.id}>
        <CharacterListItem
          t={t}
          character={character}
          title={character.name}
          description={character.ability}
          wikiLink={showWikiLink ? getAlmanacLink(character) : undefined}
        />
      </li>
    ))
  }
</ul>

<style>
  .character-list {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 1rem;
  }

  .character-list-item {
    break-inside: avoid-column;
  }
</style>
