---
import type { Translator } from "../../lib/i18n/types";
import type { NormalisedScriptCharacter } from "../../types/botc";
import LocalisedMessage from "../i18n/LocalisedMessage.astro";
import MessageSegments from "../i18n/MessageSegments.astro";
import CharacterIcon from "./CharacterIcon.astro";

export interface Props {
  t: Translator;
  character: NormalisedScriptCharacter | null;
  character2?: NormalisedScriptCharacter;
  title?: string;
  description?: string;
  character1Link?: string;
  character2Link?: string;
  titleLink?: string;
  wikiLink?: string;
  iconSize?: number;
  iconClass?: string;
}

const {
  t,
  character,
  character2,
  title,
  description,
  character1Link,
  character2Link,
  titleLink,
  wikiLink,
  iconSize = 48,
  iconClass,
} = Astro.props;
---

<div class="character">
  {
    character ? (
      character1Link ? (
        <a class="character-icon-link" href={character1Link}>
          <CharacterIcon
            character={character}
            size={iconSize}
            class:list={["character-icon-offset", iconClass]}
          />
        </a>
      ) : (
        <CharacterIcon
          character={character}
          size={iconSize}
          class:list={["character-icon-offset", iconClass]}
        />
      )
    ) : (
      <div class="character-icon-placeholder" />
    )
  }
  {
    character2 &&
      (character2Link ? (
        <a class="character-icon-link" href={character2Link}>
          <CharacterIcon
            character={character2}
            size={iconSize}
            class:list={["character-icon-offset", iconClass]}
          />
        </a>
      ) : (
        <CharacterIcon
          character={character2}
          size={iconSize}
          class:list={["character-icon-offset", iconClass]}
        />
      ))
  }
  <div class="character-info">
    {
      title && (
        <div class="character-title-area">
          <h4 class="character-title">
            {titleLink ? (
              <a class="character-title-link" href={titleLink}>
                <MessageSegments segments={t.raw(title)} />
              </a>
            ) : (
              <MessageSegments segments={t.raw(title)} />
            )}
          </h4>
          {wikiLink && (
            <a
              class="character-wiki-link"
              href={wikiLink}
              rel="external noreferrer"
              target="_blank"
              aria-label={t.string("viewer.script.wikiLabel", { title }).value}
            >
              <LocalisedMessage t={t} key="viewer.script.wikiLink" />
            </a>
          )}
        </div>
      )
    }
    {
      description && (
        <p class="character-description">
          <MessageSegments
            segments={t.raw(description, { formatReplacements: true })}
            character={character ?? undefined}
          />
        </p>
      )
    }
  </div>
</div>

<style>
  .character {
    display: flex;
    align-items: flex-start;

    &:not(:is(:hover, :focus-within)) {
      .character-wiki-link {
        opacity: 0;
      }
    }
  }

  :global(.character-icon-offset) {
    translate: -4px -4px;
  }

  .character-icon-placeholder {
    width: 48px;
  }

  .character-icon-link {
    display: contents;
  }

  .character-title-area {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .character-title {
    font-family: var(--font-title);
  }

  .character-title-link:not(:is(:hover, :focus-within)) {
    text-decoration: none;
  }

  .character-description {
    line-height: 1.3rem;
  }

  .character-wiki-link {
    align-self: start;
    font-size: 0.8em;
  }
</style>
