---
import type { ScriptCharacter } from "../../generated/script-schema";
import CharacterIcon from "./CharacterIcon.astro";
import FormattedDescription from "./FormattedDescription.astro";

export interface Props {
  character: ScriptCharacter | null;
  character2?: ScriptCharacter;
  title?: string;
  description?: string;
  character1Link?: string;
  character2Link?: string;
  titleLink?: string;
  wikiLink?: string;
  iconSize?: number;
  iconClass?: string;
}

const {
  character,
  character2,
  title,
  description,
  character1Link,
  character2Link,
  titleLink,
  wikiLink,
  iconSize = 48,
  iconClass,
} = Astro.props;
---

<div class="character">
  {
    character ? (
      character1Link ? (
        <a class="character-icon-link" href={character1Link}>
          <CharacterIcon
            character={character}
            size={iconSize}
            class:list={["character-icon-offset", iconClass]}
          />
        </a>
      ) : (
        <CharacterIcon
          character={character}
          size={iconSize}
          class:list={["character-icon-offset", iconClass]}
        />
      )
    ) : (
      <div class="character-icon-placeholder" />
    )
  }
  {
    character2 &&
      (character2Link ? (
        <a class="character-icon-link" href={character2Link}>
          <CharacterIcon
            character={character2}
            size={iconSize}
            class:list={["character-icon-offset", iconClass]}
          />
        </a>
      ) : (
        <CharacterIcon
          character={character2}
          size={iconSize}
          class:list={["character-icon-offset", iconClass]}
        />
      ))
  }
  <div class="character-info">
    {
      title && (
        <div class="character-title-area">
          <h4 class="character-title">
            {titleLink ? (
              <a class="character-title-link" href={titleLink}>
                {title}
              </a>
            ) : (
              title
            )}
          </h4>
          {wikiLink && (
            <a
              class="character-wiki-link"
              href={wikiLink}
              rel="external noreferrer"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="25"
                fill="currentColor"
                class="inline-icon"
              >
                <path d="M1.5 8.82v-3c0-1.24 1-2.25 2.25-2.25h4.19L6.22 1.85A.75.75 0 1 1 7.28.79l3 3c.3.29.3.76 0 1.06l-3 3a.75.75 0 1 1-1.06-1.06l1.72-1.72H3.75a.75.75 0 0 0-.75.75v3a.75.75 0 1 1-1.5 0m14.25 2.25h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5m0-6h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5M22.5.57h-9c-.83 0-1.5.67-1.5 1.5v7.5q.83.02 1.5.41V2.07h9v10.5H15v1.5h7.5c.83 0 1.5-.68 1.5-1.5V2.07c0-.83-.67-1.5-1.5-1.5m-6.75 7.5h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5m-10.5 7.5h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5m0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5m0 3h4.5a.75.75 0 0 0 0-1.5h-4.5a.75.75 0 0 0 0 1.5m8.25-9v10.5c0 .82-.67 1.5-1.5 1.5H3a1.5 1.5 0 0 1-1.5-1.5v-10.5c0-.83.67-1.5 1.5-1.5h9c.83 0 1.5.67 1.5 1.5m-1.5 0H3v10.5h9z" />
              </svg>
              <span class="visually-hidden-always">Almanac</span>
            </a>
          )}
        </div>
      )
    }
    {
      description && (
        <p class="character-description">
          <FormattedDescription
            content={description}
            character={character ?? undefined}
          />
        </p>
      )
    }
  </div>
</div>

<style>
  .character {
    display: flex;
    align-items: flex-start;

    &:not(:is(:hover, :focus-within)) {
      .character-wiki-link {
        opacity: 0;
      }
    }
  }

  :global(.character-icon-offset) {
    translate: -4px -4px;
  }

  .character-icon-placeholder {
    width: 48px;
  }

  .character-icon-link {
    display: contents;
  }

  .character-title-area {
    display: flex;
    gap: 0.5rem;
  }

  .character-title {
    font-family: var(--font-title);
  }

  .character-title-link:not(:is(:hover, :focus-within)) {
    text-decoration: none;
  }

  .character-description {
    line-height: 1.3rem;
  }
</style>
