---
import type { JinxInfo } from "../../types/botc";
import CharacterListItem from "./CharacterListItem.astro";

export interface Props {
  jinxes: JinxInfo[];
  class?: string;
}

const { jinxes, class: className } = Astro.props;
---

<ul class:list={["jinx-list", className]}>
  {
    jinxes.map((jinx) => (
      <li
        id={`jinx-${jinx.character1.id}-${jinx.character2.id}`}
        class="jinx-list-item"
      >
        <CharacterListItem
          character={jinx.character1}
          character1Link={`#${jinx.character1.id}`}
          character2={jinx.character2}
          character2Link={`#${jinx.character2.id}`}
          description={jinx.reason}
        />
      </li>
    ))
  }
</ul>

<style>
  .jinx-list {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 1rem;
    columns: 24rem;
    column-gap: 1rem;
  }

  .jinx-list-item {
    break-inside: avoid-column;

    &:not(:first-child) {
      margin-block-start: 1rem;
    }

    &:not(:last-child) {
      margin-block-end: 1rem;
    }
  }
</style>
