---
import type { NightInfo } from "../../types/botc";
import CharacterListItem from "./CharacterListItem.astro";

export interface Props {
  info: NightInfo[];
  class?: string;
}

const { info, class: className } = Astro.props;
---

<ul class:list={["night-order-list", className]}>
  {
    info.map((rule) => (
      <li class={"night-order-list-item"}>
        {rule.type === "character" ? (
          <CharacterListItem
            character={rule.character}
            character1Link={`#${rule.character.id}`}
            title={rule.character.name}
            titleLink={`#${rule.character.id}`}
            description={rule.reminderText}
          />
        ) : (
          <CharacterListItem
            character={{
              edition: "special",
              team: "fabled",
              id: rule.id,
              name: rule.name,
              ability: rule.reminderText ?? "",
            }}
            title={rule.name}
            description={rule.reminderText}
            iconSize={32}
            iconClass="night-order-icon-special"
          />
        )}
      </li>
    ))
  }
</ul>

<style>
  .night-order-list {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 1rem;
  }

  .night-order-list-item {
    break-inside: avoid-column;

    &:not(:first-child) {
      margin-block-start: 1rem;
    }

    &:not(:last-child) {
      margin-block-end: 1rem;
    }
  }

  .night-order-link {
    text-decoration: none;
  }

  :global(.character-icon.night-order-icon-special) {
    margin-inline: 8px;
    translate: -4px 0px;
  }
</style>
