---
import type { Translator } from "../../lib/i18n/types";
import type { NormalisedScript } from "../../types/botc";
import LocalisedMessage from "../i18n/LocalisedMessage.astro";

export interface Props {
  t: Translator;
  script: NormalisedScript;
}

const { t, script } = Astro.props;
---

<nav class="skip-list-nav">
  <span><LocalisedMessage t={t} key="viewer.skipList.skipTo" /></span>
  <ul class="skip-list">
    <li class="skip-list-item">
      <a href="#script">
        <LocalisedMessage t={t} key="app.pages.lobby.script" />
      </a>
    </li>
    {
      script.teams.townsfolk.length > 0 && (
        <li class="skip-list-item">
          <a href="#townsfolk">
            <LocalisedMessage
              t={t}
              key="app.grimoire.townsfolk"
              params={{ count: Infinity }}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.outsider.length > 0 && (
        <li class="skip-list-item">
          <a href="#outsiders">
            <LocalisedMessage
              t={t}
              key="app.grimoire.outsider"
              params={{ count: Infinity }}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.minion.length > 0 && (
        <li class="skip-list-item">
          <a href="#minions">
            <LocalisedMessage
              t={t}
              key="app.grimoire.minion"
              params={{ count: Infinity }}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.demon.length > 0 && (
        <li class="skip-list-item">
          <a href="#demons">
            <LocalisedMessage
              t={t}
              key="app.grimoire.demon"
              params={{ count: Infinity }}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.traveller.length > 0 && (
        <li class="skip-list-item">
          <a href="#travellers">
            <LocalisedMessage
              t={t}
              key="app.grimoire.traveller"
              params={{ count: Infinity }}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.fabled.length > 0 && (
        <li class="skip-list-item">
          <a href="#fabled">
            <LocalisedMessage
              t={t}
              key="app.grimoire.fabled"
              params={{ count: Infinity }}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.loric.length > 0 && (
        <li class="skip-list-item">
          <a href="#loric">
            <LocalisedMessage
              t={t}
              key="app.grimoire.loric"
              params={{ count: Infinity }}
            />
          </a>
        </li>
      )
    }
    {
      script.jinxes.length > 0 && (
        <li class="skip-list-item">
          <a href="#jinxes">
            <LocalisedMessage t={t} key="app.tabs.character.jinxes" />
          </a>
        </li>
      )
    }
    <li class="skip-list-item">
      <a href="#night-order">
        <LocalisedMessage
          t={t}
          key="app.modals.settings.shortcuts.toggleNightOrder"
          params={{ count: Infinity }}
        />
      </a>
    </li>
  </ul>
</nav>

<style>
  .skip-list-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding: 1rem;
    background-color: var(--color-control-background);
    border-bottom: 2px solid var(--color-control-border);
    text-align: center;

    &:not(:focus-within) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  .skip-list {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skip-list-item {
  }
</style>
