---
import { Font } from "astro:assets";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import "../css/index.css";
import { ENABLED_LOCALES, type LocaleIds } from "../lib/i18n";
import type { Translator } from "../lib/i18n/types";
import type { PageMeta } from "../types/site";

export interface Props {
  t: Translator;
  meta: PageMeta;
}

const { t, meta } = Astro.props;
const { title, description, noIndex, hasLocaleAlternates } = meta;

const currentUrl = Astro.url;

const localeAlternateMap = ENABLED_LOCALES.reduce(
  (obj, locale) => {
    obj[locale.slug] = getAbsoluteLocaleUrl(locale.slug, currentUrl.pathname);

    return obj;
  },
  {} as Record<LocaleIds, string>,
);
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta lang="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font cssVariable="--font-dumbledor" />
    <Font cssVariable="--font-sorts-mill-goudy" preload />

    {noIndex && <meta name="robots" content="noindex" />}

    <meta property="og:type" content="website" />
    <meta
      property="og:site_name"
      content={t.string("viewer.common.nameLong")}
    />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    {
      description && (
        <>
          <meta name="description" content={description} />
          <meta property="og:description" content={description} />
          <meta name="twitter:description" content={description} />
        </>
      )
    }
    <link rel="icon" href="/favicon.png" />

    {
      hasLocaleAlternates &&
        Object.entries(localeAlternateMap).map(([lang, url]) => (
          <link rel="alternate" href={url} hreflang={lang} />
        ))
    }
    <link rel="canonical" href={currentUrl.toString()} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/banner.png" />
    <meta property="og:image" content="/banner.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />

    <slot name="head" />
  </head>
  <body id="top">
    <slot />
  </body>
</html>
