---
import { Font } from "astro:assets";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import "../css/index.css";
import { ENABLED_LOCALES, type LocaleIds } from "../lib/i18n";
import type { Translator } from "../lib/i18n/types";
import type { PageMeta } from "../types/site";

interface Props {
  t: Translator;
  meta: PageMeta;
}

const { t, meta } = Astro.props;
const { title, description, noIndex, lang, translate } = meta;

const currentUrl = Astro.url;
const canonicalUrl = new URL(currentUrl);
canonicalUrl.hash = "";
canonicalUrl.search = "";

const pageLocales = translate
  ? ENABLED_LOCALES.filter(
      (locale) =>
        translate.locales === "all" ||
        translate.locales.includes(locale.astroId),
    )
  : [];
const localeAlternateMap = pageLocales.reduce(
  (obj, locale) => {
    obj[locale.astroId] = getAbsoluteLocaleUrl(
      locale.astroId,
      translate?.basePath ?? currentUrl.pathname,
    );

    return obj;
  },
  {} as Record<LocaleIds, string>,
);
---

<!doctype html>
<html lang={lang} prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font cssVariable="--font-dumbledor" />
    <Font cssVariable="--font-sorts-mill-goudy" preload />

    {noIndex && <meta name="robots" content="noindex" />}

    <meta property="og:type" content="website" />
    <meta
      property="og:site_name"
      content={t.string("viewer.common.nameLong").value}
    />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    {
      description && (
        <>
          <meta name="description" content={description} />
          <meta property="og:description" content={description} />
          <meta name="twitter:description" content={description} />
        </>
      )
    }
    <link rel="icon" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    {
      translate &&
        Object.entries(localeAlternateMap).map(([lang, url]) => (
          <link rel="alternate" href={url} hreflang={lang} />
        ))
    }
    <link rel="canonical" href={canonicalUrl.toString()} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={meta.ogImagePath ?? "/banner.png"} />
    <meta property="og:image" content={meta.ogImagePath ?? "/banner.png"} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />

    <slot name="head" />
  </head>
  <body id="top">
    <slot />
  </body>
</html>
