---
import ScriptDisplay from "../components/display/ScriptDisplay.astro";
import SkipList from "../components/display/SkipList.astro";
import PageView from "../components/misc/PageView.astro";
import type { BloodOnTheClocktowerCustomScript } from "../generated/script-schema";
import { compressToBase64, stringToBytes } from "../lib/compression";
import { normaliseScript } from "../lib/normalise";
import { fixDoubleSlashPaths } from "../lib/url";
import TopBarLayout from "./TopBarLayout.astro";

export interface Props {
  rawScript: BloodOnTheClocktowerCustomScript;
  overrideJsonPathSegment?: string;
  noIndex?: boolean;
}

const { rawScript, overrideJsonPathSegment, noIndex } = Astro.props;

const script = normaliseScript(rawScript);

const qrPath = fixDoubleSlashPaths(
  new URL(`${Astro.url.pathname}/qr.svg`, Astro.url),
);

const jsonPath = overrideJsonPathSegment ?? "json";
const downloadPath = fixDoubleSlashPaths(
  new URL(`${Astro.url.pathname}/${jsonPath}`, Astro.url),
);
const downloadFilename = `${(script.name || "script").replace(/[\\/:*?"<>|]+/g, "_")}.json`;

const rawScriptString = JSON.stringify(rawScript);
const rawScriptBytes = stringToBytes(rawScriptString);
const rawScriptB64 = await compressToBase64(rawScriptBytes, "gzip", false);
const scriptBuilderUrl = `https://script.bloodontheclocktower.com/?script=${encodeURIComponent(rawScriptB64)}`;
---

<TopBarLayout
  meta={{
    title: script.name ? `${script.name} - BotC Script Viewer` : undefined,
    noIndex,
  }}
>
  <Fragment slot="head">
    <PageView />
  </Fragment>

  <SkipList script={script} slot="top" />

  <ul class="nav-links" slot="items-start">
    <li>
      <a href={downloadPath} download={downloadFilename}>Download JSON</a>
    </li>
    <li>
      <button type="button" class="link-button" id="print">Print</button>
    </li>
    <li>
      <a
        href={scriptBuilderUrl}
        rel="external noreferrer"
        target="_blank"
        data-umami-event="script-open-official-builder"
        >Edit
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="inline-icon"
          ><path
            d="M15 9.5v3a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5v-9A2.5 2.5 0 0 1 3.5 1h3a.5.5 0 0 1 0 1h-3C2.67 2 2 2.67 2 3.5v9c0 .83.67 1.5 1.5 1.5h9c.83 0 1.5-.67 1.5-1.5v-3a.5.5 0 0 1 1 0M14.5 1h-5a.5.5 0 0 0 0 1h3.8L9.14 6.15a.5.5 0 0 0 .7.7L14 2.71V6.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5"
          ></path></svg
        ></a
      >
    </li>
    <li><a href={qrPath}>QR code</a></li>
  </ul>

  <ScriptDisplay script={script} />
</TopBarLayout>

<script>
  document.querySelectorAll("button#print").forEach((button) => {
    button.addEventListener("click", () => {
      window.print();
    });
  });
</script>

<style>
  .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0;
    gap: 0.5rem;
    list-style: none;
  }
</style>
